rules_version = '2';
service cloud.firestore {
  function isAuthor(uid) {
    return uid == request.auth.uid;
  }

  match /databases/{database}/documents {
    match /user/{document} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if isAuthor(request.resource.data.uid);
      allow delete: if isAuthor(resource.data.uid);
    }

    match /book/{document} {
      allow read: if true;
      allow create: if isAuthor(request.resource.data.uid);
      allow update, delete: if isAuthor(resource.data.uid);
    }
  }
}