rules_version = '2';
service cloud.firestore {
  function printRequest() {
    return debug(request.auth.uid) || true;
  }
  function printResource() {
    return debug(resource.data) || true;
  }

  match /databases/{database}/documents {
    match /user/{document} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == request.resource.data.uid;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    match /book/{document} {
      allow read: if true;
      allow create: if request.auth.uid == request.resource.data.uid;
      allow update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}