.login-container {
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
  background-color: var(--contents-color);
}
.white-text {
  color: white;
}
.center-card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform-origin: 0 0 0;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
}
.card-title {
  display: flex; 
  justify-content: space-between;
}
.card-title div {
  font-weight: bold;
  font-size: 24px;
  color: var(--gray-color);
}
.first-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}